
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_siteMaster.cshtml";
}

<form action="SubmitPlateau" runat="server">
    <table>
        <tr>
            <td>Enter Plateau Height and Width</td>
            <td> @Html.TextBox("heightwidth") </td>
        </tr>
        <tr>
            <td><input type="submit" title="Submit" value="Submit" /></td>
        </tr>
    </table>
</form>


